{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fde3e5;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" width="150" height="100"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_us' %}">Menu List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'order_list' %}">Orders List</a>
            </li>
        </ul>
        <form class="d-flex">
          <a href="{% url 'logout' %}" class="btn btn-outline-danger" type="button">Logout</a>
        </form>
      </div>
    </div>
  </nav>