{% extends 'base.html' %}

{% load static %}

{% block title %} stories {% endblock %}

{% block content %}

    <h1 style="color: rgb(245, 108, 108);"> What people say about Us </h1>    
    <h1 class="display-3" align='center'>Restaurants</h1>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><img src="{% static 'img/hotel1.jfif' %}" width="400"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight">
            <br/>
            <h2>Dominos Pizza</h2>
            <br/>
            <p class="fs-5">We have been partnered with home dilevery for more than 5 years. This platform has the best service ever we have recived. Compared to their compitators these pepole take their order at exact time. Our rating has been increased from the time we partnered with HOME DELIVERY.</p>
            <br/>
        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <br/>
            <h2>Hotel Indraprastha</h2>
            <br/>
            <p class="fs-5">If you are planning to increase your bussiness and trying to reach more people with the food you prepare then this is the best platform for that. These guys give a good commission with the best service. We are able to reach more people now. Thanks HOME DELIVERY.</p>
            <br/>
        </div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"><img src="{% static 'img/hotel2.jfif' %}" width="400"></div>
    </div>
    <h1 class="display-3" align='center'>Delivery Workers</h1>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><img src="{% static 'img/delivery1.jpg' %}" width="400"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight">
            <br/>
            <h2>Ravi</h2>
            <br/>
            <p class="fs-5">I am a part-time delivery guy at HOME DELIVERY. Before joining here I had worked in many other places. Amongst them all this is the best. The pay is very good here. There is no work pressure also. A best place to earn some extra bucks</p>
            <br/>
        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <br/>
            <h2>Lucy</h2>
            <br/>
            <p class="fs-5">I was a home maker before joining here. This platform helped me to earn money and become an independent woman. Thankyou HOME DELIVERY</p>
            <br/>
        </div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"><img src="{% static 'img/delivery2.jfif' %}" width="400"></div>
    </div>
    <h1 class="display-3" align='center'>Customers Testimonials</h1>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><img src="{% static 'img/customer1.jfif' %}" width="400"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight">
            <br/>
            <h2>Akshay Kumar</h2>
            <br/>
            <p class="fs-5">The best part which i liked most about HOME DELIVERY is that u simply stay anywhere and your food from your favorite restaurant is just a click away.

                You can see the live status of your order starting from the restaurant has accepted the order or not, The food preparation has been started or not, the delivery boy location etc.</p>
            <br/>
        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <br/>
            <h2>Divya</h2>
            <br/>
            <p class="fs-5">HOME DELIVERY has a vast network, means it has its delivery service not only in urban areas but also in remote areas, almost every location you can access its services.

                It recommend you the near by restraunt, food , beverages etc by there high rating and also take care of hygiene which is very important.</p>
            <br/>
        </div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"><img src="{% static 'img/customer2.jfif' %}" width="400"></div>
    </div>

{% endblock %}